<head>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
</head>
<title>@ViewBag.Title</title>
<body>
    <nav>
        <a class="nav-link" asp-action="Projects" asp-controller="Project">Все проекты</a>
    </nav>
    @RenderBody()
</body>